#todoDag
{
    h2 {
        display: inline-block;
        width: calc(100% - 100px);
        text-align: center;
        word-break: keep-all !important;
        vertical-align: middle;
    }

    h2 {
        font-size : 1.5vw; //scherm breedte
    }
    
    a {
        width: auto;
    }

    #dagKalender {
        .row {
            display: grid;
            grid-template-columns: repeat(7,1fr);
            column-gap: 4px;
            margin-bottom: 4px;

            a {
                aspect-ratio : 1; //vierkant
                display: flex;
                align-items: center;
                justify-content: center;
                //color: white;
                background-color: yellowgreen;
            }
        }
    }
}

//De twee input boxen datum en datumString op elkaar steken;

#frmDatum {
    position: relative;
    #datum {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10; //bovenaan.
        opacity: 0;  //bovenaan maar niet zichtbaar.
    }

    #datumString {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0; //onderaan.
    }
}